In [1]:
import numpy as np
import pandas as pd

In [2]:
# .assign(col=v) method creates a new df and assigns new col
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,
     'value': np.arange(12.)})
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [3]:
df.assign(normalized = (df['value'] - df['value'].mean())/df['value'].std())

   key  value  normalized
0    a    0.0   -1.525426
1    b    1.0   -1.248075
2    c    2.0   -0.970725
3    a    3.0   -0.693375
4    b    4.0   -0.416025
5    c    5.0   -0.138675
6    a    6.0    0.138675
7    b    7.0    0.416025
8    c    8.0    0.693375
9    a    9.0    0.970725
10   b   10.0    1.248075
11   c   11.0    1.525426

In [4]:
# assign slower than in place assignment but chaining possible
df.assign(normalized = (df['value'] - df['value'].mean())/df['value'].std()).groupby('key')["normalized"].mean()

key
a   -0.27735
b    0.00000
c    0.27735
Name: normalized, dtype: float64

In [5]:
# with line breaks use ()
(
    df.assign(normalized = 
                (df['value'] - df['value'].mean())/df['value'].std())
        .groupby('key')["normalized"]
        .mean()
)

key
a   -0.27735
b    0.00000
c    0.27735
Name: normalized, dtype: float64

In [ ]:
#  callable for  temp var
'''
df = load_data()
df2 = df[df['col2'] < 0]
'''

# becomes with [ ] 
'''
df = (load_data()
 [lambda x: x['col2'] < 0])
'''