In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA

In [ ]:
# remove duplicates with drop_duplicates()
# keep='last' forlast rows
# drop_duplicates(['cols']) for subset of cols filter

In [2]:
# apply func or mapping
# map method on a Series accepts a function or dict-like object containing a map‐

data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
 'Pastrami', 'corned beef', 'Bacon',
 'pastrami', 'honey ham', 'nova lox'],
 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [4]:
data['food'].map(lambda x : x.title())

0          Bacon
1    Pulled Pork
2          Bacon
3       Pastrami
4    Corned Beef
5          Bacon
6       Pastrami
7      Honey Ham
8       Nova Lox
Name: food, dtype: object

## Replace vals

In [6]:
# in Series
# .replace(v1,v2)
# or val dicts .replace({v1:new1,v2:new2})
# or manyval with 1  .replace([v1,v2],new)

data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [8]:
data.replace({ -999: 1, 3 : -69696 })

0        1.0
1        1.0
2        2.0
3        1.0
4    -1000.0
5   -69696.0
dtype: float64

In [ ]:
# on indexes too
# : transform = lambda x: x[:4].upper()
# data.index.map(transform) # not inplace to assign
# data.index = data.index.map(transform)

# or rename
# data.rename(index=str.title, columns=str.upper)
# data.rename(index={'OHIO': 'INDIANA'},
#  ....: columns={'three': 'peekaboo'})

## Cutting to bins

In [9]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
# 1. edgess
bins = [18, 25, 35, 60, 100]
# right=False for it to open
# labels = [] for label names
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [11]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [12]:
cats.value_counts()

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

In [14]:
# or 2. num of bins
pd.cut(ages, 4, precision=2)

[(19.96, 30.25], (19.96, 30.25], (19.96, 30.25], (19.96, 30.25], (19.96, 30.25], ..., (30.25, 40.5], (50.75, 61.0], (40.5, 50.75], (40.5, 50.75], (30.25, 40.5]]
Length: 12
Categories (4, interval[float64, right]): [(19.96, 30.25] < (30.25, 40.5] < (40.5, 50.75] < (50.75, 61.0]]

In [16]:
# qcut() for quantiles or prove own quantiles [0,.1,.5,1.]
pd.qcut(ages,2)

[(19.999, 29.0], (19.999, 29.0], (19.999, 29.0], (19.999, 29.0], (19.999, 29.0], ..., (29.0, 61.0], (29.0, 61.0], (29.0, 61.0], (29.0, 61.0], (29.0, 61.0]]
Length: 12
Categories (2, interval[float64, right]): [(19.999, 29.0] < (29.0, 61.0]]

## Outlier Filter

In [17]:
data = pd.DataFrame(np.random.randn(1000, 4))
data

            0         1         2         3
0   -2.838933  1.968345  0.839900 -0.575769
1    0.628385  1.938887 -0.524732  0.128149
2   -1.287514  1.529919 -0.127985 -0.303024
3    1.881635 -0.118724 -1.627319  0.242218
4    1.670645  0.562214  0.327573 -0.527939
..        ...       ...       ...       ...
995 -0.939574  0.999968 -2.047722  0.700735
996 -1.223502 -0.905385 -0.925038  0.158406
997 -1.447622  0.328364 -1.099217 -1.614061
998 -0.000237 -0.881291  0.570177  1.787357
999 -0.172788 -0.442402 -1.403068  1.697517

[1000 rows x 4 columns]

In [18]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.019120     0.076008    -0.017891    -0.062419
std       1.006200     1.017048     0.991840     1.001465
min      -3.873734    -2.845635    -3.185732    -3.041233
25%      -0.660191    -0.630485    -0.679910    -0.780484
50%       0.020937     0.094919    -0.023841    -0.113225
75%       0.717577     0.725335     0.681885     0.634246
max       3.148317     4.198500     2.772016     3.425137

In [19]:
col = data[2]
# filter more than 3 abs
col[np.abs(col) > 3]

932   -3.185732
Name: 2, dtype: float64

In [24]:
# data[(np.abs(data) > 3).any(1)]
# np.sign(data) produces 1 and –1 wether +v or -ve

TypeError: DataFrame.any() takes 1 positional argument but 2 were given