In [1]:
a = 2; b = 3; print(a,b)

2 3

In [2]:
a = (1,2,3,4)
from itertools import *
if not isinstance(a, list) :
    a = list(a)
    print(a)

[1, 2, 3, 4]

In [3]:
# scientific notation
avogadro = 6.023e23
avogadro

6.023e+23

In [6]:
c = """
This is a longer string that
spans multiple lines
"""
c.count('\n')

3

In [7]:
r'1/2/3/n'

'1/2/3/n'

In [9]:
# formating 2decimal , str ,  int
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(2.333342, "sfdfd" , 3)

'2.33 sfdfd are worth US$3'

In [10]:
# bytes and unicode
val = "español"
val

'español'

In [11]:
val.encode("utf-8") # and decode

b'espa\xc3\xb1ol'

In [12]:
# byte literals with b''
b'htiuth'.decode("utf-8")

'htiuth'

In [14]:
# date time
from datetime import datetime, time, date
dt = datetime(2002,11,22,21,30,0)

In [16]:
dt.hour

21

In [17]:
dt.replace(minute=0,second=0)

datetime.datetime(2002, 11, 22, 21, 0)

In [ ]:
# strptime and strftime later

In [19]:
# comparison chain
4 > 2  > 1

True

In [20]:
# ternanry
x = -2
mesg = "Negative" if x < 0 else "NonNegative"