In [22]:
# assigining global in func using global
a = None
def assign_global():
    global a
    a = []

assign_global()
print(a)

[]

In [23]:
# func returns mul values as tuple
# applying list of funcs to list

# Funcs as objects
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value) #replaces pattern with string
        value = value.title()
        result.append(value)
    return result
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south carolina##', 'West virginia?']
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [24]:
# or func list
def remove_pun(string):
    return re.sub("[!#?]", "" , string)
funcs = [str.strip, remove_pun, str.title]

def clean2(strings,funcs):
    res = []
    for string in strings:
        for func in funcs:
            string = func(string)
        res.append(string)
    return res
clean2(states, funcs)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [25]:
# map applies func to a sequence returns generator to be materialized
# func as args
list(map(remove_pun, states))

[' Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south carolina',
 'West virginia']

In [26]:
# lambda anonymous funcs (no __name__ attr)
# transformation funcs of dfs
func2 = lambda x: x*2
adder = lambda x,y : x + y
adder(3,4)

7

In [27]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
# sort with unique char count
sorted(strings, key=lambda x: len(set(x)))

['aaaa', 'foo', 'abab', 'bar', 'card']

In [28]:
adder.__name__ # no name xd

'<lambda>'

#### currying : partial arg application

In [29]:
# deriving new funcs from existing with partial arg

add_five = lambda x : adder(x, 5)
print(add_five(4))

# or partial function 
from functools import partial
add_five2 = partial(adder , 5)
add_five2(10)

9

15

### Generators

In [30]:
# iterator protocol, a generic way to make objects iterable
# it yields obj when in context  like for loop
# sum min max , list,tuple (constructor) can take them
d1 = { "a" : 1, "b" : 2, "c": 3 }
dict_iterator = iter(d1) #iterator over keys
list(dict_iterator)

['a', 'b', 'c']

In [31]:
# A generator is a concise way to construct a new iterable object. Whereas normal functions execute and return a single result at a time, generators return a sequence of  multiple results lazily, pausing after each one until the next one is requested.

# use yield instead of squares
def squares(n=10):
    for i in range(1,n+1):
        yield i*i

sq_gen = squares()
sq_gen

In [32]:
# requesting data
for i in sq_gen:
    print(i)

# extra lmao
# next(sq_gen)

1
4
9
16
25
36
49
64
81
100

In [34]:
# generator expression : more concise way
# analogue to dic,lis,set comprehension , here  use ()

# no need to call xd
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

fibs = (fib(i) for i in range(1,20))

for i in fibs:
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [37]:
# generator expresion instead of list
print(sum(x**x for x in range(10)))

405071318

In [38]:
dict((i,i**2) for i in range(10) )

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### itertools module

In [40]:
# generators from algos
from itertools import groupby

# groups a seq consecutively on a return val of func

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for key,vals in groupby(names, lambda x:x[0]):
    print(key)
    print(list(vals)) # vals is generaor

A
['Alan', 'Adam']
W
['Wes', 'Will']
A
['Albert']
S
['Steven']

### Error handling

In [41]:
print(float("-2.4454"))
print(float("hjroj"))

-2.4454

ValueError: could not convert string to float: 'hjroj'

In [45]:
# handle gracefully
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
    # returns 0 whtsoever
    # finally:
    #     return 0
print(attempt_float("-244.43"))
print(attempt_float("some"))

-244.43
some

In [46]:
# specific error
def attempt_float(x):
    try:
        return float(x)
    except ValueError: # catch multple with (TypeError, ValueError)
        return x
print(attempt_float((2,3)))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [ ]:
# finally to execute always whtsoever like file close
# try succeed with else (no error)
# f = open(path, 'w')
# try:
#  write_to_file(f)
# except:
#  print('Failed')
# else:
#  print('Succeeded')
# finally:
#  f.close()

# ipython gives stack trace xd lmaopooooooo