In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
     datetime(2011, 1, 7), datetime(2011, 1, 8),
     datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.546943
2011-01-05    0.735166
2011-01-07   -0.332376
2011-01-08    1.034115
2011-01-10   -0.988765
2011-01-12    0.665236
dtype: float64

In [3]:
# irregular ts to daywise freq
ts.resample('D').asfreq()

2011-01-02   -0.546943
2011-01-03         NaN
2011-01-04         NaN
2011-01-05    0.735166
2011-01-06         NaN
2011-01-07   -0.332376
2011-01-08    1.034115
2011-01-09         NaN
2011-01-10   -0.988765
2011-01-11         NaN
2011-01-12    0.665236
Freq: D, dtype: float64

### Generating Date Ranges

In [4]:
# pandas.date_range generates DateTimeIndex
# defaults to daily timestamps
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# either start or end then pass periods i.e no. of dates to make
pd.date_range(start="22-11-2002" , periods=10)

DatetimeIndex(['2002-11-22', '2002-11-23', '2002-11-24', '2002-11-25',
               '2002-11-26', '2002-11-27', '2002-11-28', '2002-11-29',
               '2002-11-30', '2002-12-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range(end="22-11-2002" , periods=10)

DatetimeIndex(['2002-11-13', '2002-11-14', '2002-11-15', '2002-11-16',
               '2002-11-17', '2002-11-18', '2002-11-19', '2002-11-20',
               '2002-11-21', '2002-11-22'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# Last business day of each mon : BM
# dates in [start, end ] only
pd.date_range('2000-01-01', '2000-12-01' , freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [31]:
# freq ops lmao
pd.date_range('2000-10-01', periods=10, freq='BA-JAN')

DatetimeIndex(['2001-01-31', '2002-01-31', '2003-01-31', '2004-01-30',
               '2005-01-31', '2006-01-31', '2007-01-31', '2008-01-31',
               '2009-01-30', '2010-01-29'],
              dtype='datetime64[ns]', freq='BA-JAN')

In [9]:
# timestamp preservation
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# to normalize to midnight AS CONVENTION
pd.date_range('2012-05-02 12:56:31', normalize=True, periods=5)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequency/Date offsets

In [11]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour(2)
print(hour)
# or simply  4H
pd.date_range("2002-11-22" , periods=10, freq='4H')

<2 * Hours>

DatetimeIndex(['2002-11-22 00:00:00', '2002-11-22 04:00:00',
               '2002-11-22 08:00:00', '2002-11-22 12:00:00',
               '2002-11-22 16:00:00', '2002-11-22 20:00:00',
               '2002-11-23 00:00:00', '2002-11-23 04:00:00',
               '2002-11-23 08:00:00', '2002-11-23 12:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [12]:
# offset combo
print(Hour(2) + Minute(30)) # or '1h30min' for nonanchored offsets
pd.date_range("2002-11-22", periods=6, freq="1h30min")

<150 * Minutes>

DatetimeIndex(['2002-11-22 00:00:00', '2002-11-22 01:30:00',
               '2002-11-22 03:00:00', '2002-11-22 04:30:00',
               '2002-11-22 06:00:00', '2002-11-22 07:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [13]:
# Week of the month of 
# like 3rd friday of each month
pd.date_range("2012-01-01", "2012-09-01" , freq="WOM-3FRI")

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

### Shifting and lagging of data

In [15]:
# with df's,series's shift method
ts = pd.Series(np.random.randn(4),
     index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.731189
2000-02-29   -0.109897
2000-03-31   -0.478570
2000-04-30   -0.159989
Freq: M, dtype: float64

In [16]:
# index unmodified
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.731189
2000-04-30   -0.109897
Freq: M, dtype: float64

In [17]:
ts.shift(-2)

2000-01-31   -0.478570
2000-02-29   -0.159989
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [19]:
# % changes
ts/ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -1.150299
2000-03-31    3.354718
2000-04-30   -0.665694
Freq: M, dtype: float64

In [20]:
# If freq known shift dates instead of data
ts.shift(2, freq='M')

2000-03-31    0.731189
2000-04-30   -0.109897
2000-05-31   -0.478570
2000-06-30   -0.159989
Freq: M, dtype: float64

In [21]:
# other freq too lmao to lead or lag
ts.shift(3, freq='D')

2000-02-03    0.731189
2000-03-03   -0.109897
2000-04-03   -0.478570
2000-05-03   -0.159989
dtype: float64

In [22]:
ts.shift(1, freq='90T') #or90min

2000-01-31 01:30:00    0.731189
2000-02-29 01:30:00   -0.109897
2000-03-31 01:30:00   -0.478570
2000-04-30 01:30:00   -0.159989
dtype: float64

### shifting with offsets

In [23]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011,11,17)
now + Day(2)

Timestamp('2011-11-19 00:00:00')

In [24]:
# anchored dates : 1st increment rollfwd acc to rule
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [26]:
offset = MonthEnd()
# methods
print(offset.rollback(now))
print(offset.rollforward(now))

2011-10-31 00:00:00
2011-11-30 00:00:00

In [27]:
# With groupby 
ts = pd.Series(np.random.randn(20),
     index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.207562
2000-01-19   -0.763875
2000-01-23   -1.724636
2000-01-27    0.159240
2000-01-31   -0.680005
2000-02-04    0.218759
2000-02-08    0.321540
2000-02-12   -0.692774
2000-02-16   -0.861560
2000-02-20    0.716444
2000-02-24   -0.887117
2000-02-28    0.953577
2000-03-03   -0.208063
2000-03-07   -0.847041
2000-03-11   -1.862881
2000-03-15    1.148624
2000-03-19    0.364660
2000-03-23   -0.746222
2000-03-27    0.494201
2000-03-31    1.353435
Freq: 4D, dtype: float64

In [28]:
ts.groupby(offset.rollforward).count()

2000-01-31    5
2000-02-29    7
2000-03-31    8
dtype: int64

In [30]:
# aliter : resampling
ts.resample('M').count()

2000-01-31    5
2000-02-29    7
2000-03-31    8
Freq: M, dtype: int64