In [ ]:
# 1. sqlite3
# con = sqlite3.connect('mydata.sqlite')
# con.execute(query)
#  con.commit()

# insert multiple rows with executemany
#  stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
# con.executemany(stmt, data)
# con.commit()

# fetch results with .fetchall()
# cursor = con.execute('select * from test')
# rows = cursor.fetchall()

# cursor.description col names
# (('a', None, None, None, None, None, None),
# ('b', None, None, None, None, None, None),
# ('c', None, None, None, None, None, None),
# ('d', None, None, None, None, None, None))

# df with rows and cols

In [ ]:
# 2.sql alchemy
# import sqlalchemy as sqla
# db = sqla.create_engine('sqlite:///mydata.sqlite')
# pd.read_sql('select * from test', db)