In [20]:
import pandas as pd
import numpy as np

In [7]:
# header=None if no col names
# names = [] for colnames
# index_col = '' or ['',''] for heirchial index for index

pd.read_csv("data.csv")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv("data.csv",header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [9]:
pd.read_csv("data.csv", index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
# default sep '\t' so specify
pd.read_table('data.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv("ex2.csv",index_col=['key1' , 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
# regex for all white space : '\s+'
# skiprows=[] indices of rows to skip
pd.read_table("ex3.txt", sep='\s+', skiprows=[2]) # 1st col as index

            A         B         C
aaa -0.264438 -1.026059 -0.619500
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
# na values identification/recog by na_values=[]
# or na_values = { col: [] } col dic

## WRITING data to text

In [23]:
# to_csv(path, sep='') of df, 
# na_rep='NULL' to write NA values
# prevent indexwrite and headcol write by index=False,header=False
# columns=[] for subset of col or order change

df = pd.DataFrame(np.random.randn(3,3), columns=["a", "b", "c"], index=["Utah", "New York", "Colorado"])
df.to_csv("out1.csv")
df

                 a         b         c
Utah      0.070150  0.765755 -0.177801
New York -0.752394 -1.180591  0.187651
Colorado -0.748469  0.921144  0.047804

In [24]:
df.to_csv("out2.csv", header=True, index=False)

In [26]:
# we can create a dictionary of data columns using a dictionary comprehension
# and the expression zip(*values), which transposes rows to columns
import csv
with open("data.csv") as f:
    lines = list(csv.reader(f))
    header, values = lines[0] , lines[1:]
    data_dict = {h: v for h, v in zip(header, zip(*values))}
    print(data_dict)
#  csv.writer(f)
# writer.writerow([   ])

{'a': ('1', '5', '9'), 'b': ('2', '6', '10'), 'c': ('3', '7', '11'), 'd': ('4', '8', '12'), 'message': ('hello', 'world', 'foo')}