In [4]:
import pandas as pd

In [7]:
# header=None if no col names
# names = [] for colnames
# index_col = '' or ['',''] for heirchial index for index

pd.read_csv("data.csv")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv("data.csv",header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [9]:
pd.read_csv("data.csv", index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
# default sep '\t' so specify
pd.read_table('data.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv("ex2.csv",index_col=['key1' , 'key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
# regex for all white space : '\s+'
# skiprows=[] indices of rows to skip
pd.read_table("ex3.txt", sep='\s+', skiprows=[2]) # 1st col as index

            A         B         C
aaa -0.264438 -1.026059 -0.619500
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
# na values identification/recog by na_values=[]
# or na_values = { col: [] } col dic