In [5]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([2,4,65,6,8])

In [3]:
obj

0     2
1     4
2    65
3     6
4     8
dtype: int64

In [8]:
obj.index = np.arange(3,8)
obj

3     2
4     4
5    65
6     6
7     8
dtype: int64

In [9]:
obj.index

Index([3, 4, 5, 6, 7], dtype='int32')

In [10]:
obj.values

array([ 2,  4, 65,  6,  8], dtype=int64)

In [11]:
obj.value_counts()

2     1
4     1
65    1
6     1
8     1
Name: count, dtype: int64

In [16]:
obj.index = ["a", "b", "c","f","g"]
obj
obj.index

Index(['a', 'b', 'c', 'f', 'g'], dtype='object')

In [17]:
pd.Series([2,4,5,7,8]).index

RangeIndex(start=0, stop=5, step=1)

In [21]:
obj[["b" , "g"]]

b    4
g    8
dtype: int64

In [22]:
obj[["b" , "g"]] = -3
obj

a     2
b    -3
c    65
f     6
g    -3
dtype: int64

In [23]:
obj[obj > 2]

c    65
f     6
dtype: int64

In [24]:
obj > 2

a    False
b    False
c     True
f     True
g    False
dtype: bool

In [25]:
obj ** .5

a    1.414214
b         NaN
c    8.062258
f    2.449490
g         NaN
dtype: float64

In [26]:
'a' in obj

True

In [27]:
1 in  obj

False

In [28]:
6 in obj

False

In [30]:
# From dict
marks = { "math" : 94 , "science" : 20 , "sst" : 0 , "algebra" : 3}
pd.Series(marks)

math       94
science    20
sst         0
algebra     3
dtype: int64

In [32]:

marks = { "math" : 94 , "science" : 20 , "sst" : 0 , "algebra" : 3}
m2 = pd.Series(marks, index = ["math" , "cola" , "science"])

In [33]:
m2.isnull()

math       False
cola        True
science    False
dtype: bool

In [34]:
m2.notna()

math        True
cola       False
science     True
dtype: bool

In [35]:
m2.notnull()

math        True
cola       False
science     True
dtype: bool

In [38]:
# Data auto align
marks = pd.Series(marks)
print(marks)
print(m2)
print(marks + m2)

math       94
science    20
sst         0
algebra     3
dtype: int64
math       94.0
cola        NaN
science    20.0
dtype: float64
algebra      NaN
cola         NaN
math       188.0
science     40.0
sst          NaN
dtype: float64

In [39]:
marks.name = "marks"
marks.index.name = "subject"
marks

subject
math       94
science    20
sst         0
algebra     3
Name: marks, dtype: int64