In [1]:
import pandas as pd
import numpy as np

In [3]:
# again oppposite
df = pd.DataFrame(np.random.randn(3,3) , index=["a","b","c"])
df

          0         1         2
a -0.158121  0.658401 -0.137563
b  0.233978  0.730693  1.238307
c -1.485871  0.721124  0.983175

In [4]:
# row wise
df.sum(axis="columns")

a    0.362717
b    2.202978
c    0.218428
dtype: float64

In [5]:
# colwise default
df.sum(axis="rows")

0   -1.410014
1    2.110219
2    2.083919
dtype: float64

In [6]:
df.cumsum()

          0         1         2
a -0.158121  0.658401 -0.137563
b  0.075857  1.389095  1.100744
c -1.410014  2.110219  2.083919

In [7]:
# allstats colwise
df.describe()

              0         1         2
count  3.000000  3.000000  3.000000
mean  -0.470005  0.703406  0.694640
std    0.901346  0.039268  0.731911
min   -1.485871  0.658401 -0.137563
25%   -0.821996  0.689763  0.422806
50%   -0.158121  0.721124  0.983175
75%    0.037928  0.725909  1.110741
max    0.233978  0.730693  1.238307

In [9]:
# covariance, correlation
print(df[0].corr(df[1]))
print(df[0].cov(df[1]))

-0.18118208611439976
-0.006412759237343661

In [10]:
# corrwith pairwise corrss
df.corrwith(df)

0    1.0
1    1.0
2    1.0
dtype: float64

In [11]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [12]:
obj.value_counts() #decreasin freq

c    3
a    3
b    2
d    1
Name: count, dtype: int64

In [13]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [16]:
mask = obj.isin(["c","a"]) # vectorized membership
mask

0     True
1     True
2    False
3     True
4     True
5    False
6    False
7     True
8     True
dtype: bool

In [17]:
obj[mask]

0    c
1    a
3    a
4    a
7    c
8    c
dtype: object

In [18]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
     'Qu2': [2, 3, 1, 2, 3],
     'Qu3': [1, 5, 2, 4, 4]})
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [19]:
data.apply(pd.value_counts)

C:\Users\user\AppData\Local\Temp\ipykernel_12372\2724425074.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  data.apply(pd.value_counts)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [20]:
data.apply(pd.value_counts).fillna(0)

C:\Users\user\AppData\Local\Temp\ipykernel_12372\2493099384.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0